astroid==2.4.2
bleak==0.10.0
bokeh==2.2.3
colorama==0.4.4
DateTime==4.3
isort==5.7.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.5
packaging==20.8
Pillow==8.1.0
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pythonnet==2.5.1
pytz==2020.5
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
wrapt==1.12.1
zope.interface==5.2.0
